<template name="memoryVersesAdd">
<form>
	<table class="versesAdmin">
		<tr>
			<th>Month</th>
			<th>Reference</th>
			<th>Year</th>
			<th>Text</th>
		</tr>
			<tr>
				<td style="vertical-align: top"><input type="text" name="month"></td>
				<td style="vertical-align: top"><input type="text" name="reference"></td>
				<td style="vertical-align: top"><input type="text" name="year"></td>
				<td><textarea rows="4" cols="100" name="text"></textarea></td>
			</tr>
	</table>
	<input type="submit" value="Submit" />
</form>
</template>