<template name="prayerRequestsAdmin">
<div class="addItem"><a href="/request/add" class="addItemLink">Create New Request</a></div>
	<table class="requestsAdmin">
		<tr>
			<th>Category</th>
			<th>Content</th>
			<th></th>
			<th></th>
		</tr>
		{{#each allPrayerRequests}}
			<tr>
				<td>{{category}}</td>
				<td>{{request}}</td>
				<td><a href="/requests/edit/{{_id}}" class="admin">Edit</a></td>
				<td><a href="/requests/destroy/{{_id}}" onclick="return confirm('Are you sure?')" class="admin">Destroy</a></td>
			</tr>
		{{/each}}
	</table>
</template>