<template name="prayerRequests">
	<div class="todaysRequests">
		<H2>Today's Prayer Requests</h2>
		<table>
			{{#each prayerRequests}}
			<tr>
				<td id="category">{{category}}</td>
				<td id="request">{{request}}</td>
			</tr>
			{{/each}}
		</table>
	</div>
	<div class="select-style">
		<select id="categorySelect">
			<option value="-1">Select a Category</option>
			{{#each allPrayerRequests}}
				<option value="{{categoryNumber}}">{{category}}</option>
			{{/each}}
		</select>
	</div>
	
	<div class="selectedRequest">
		<div id="category">{{selectedRequest.category}}</div>
		<div id= "request">{{selectedRequest.request}}</div>
	</div>

	<div class="prayerTime">
		Time to Pray: {{timeLeftToPray}}<br/>
		<button type="button" class="button startTimer">Start</button>
		<button type="button" class="button restartTimer">Restart</button>
		<button type="button" class="button stopTimer">Stop</button>
	</div> 

	{{> todaysPsalm}}

</template>