<template name="prayerRequests">
	<div class="todaysRequests">
		<H2>Today's Prayer Requests</h2>
		<table>
			{{#each prayerRequests}}
			<tr>
				<td>{{category}}</td>
				<td>{{request}}</td>
			</tr>
			{{/each}}
		</table>
	</div>
	<div>
		<select id="categorySelect">
			<option value="-1">Select a Category</option>
			{{#each allPrayerRequests}}
				<option value="{{categoryNumber}}">{{category}}</option>
			{{/each}}
		</select>
	</div>
	
	<div class="selectedRequest">
		{{selectedRequest.category}} : {{selectedRequest.request}}
	</div>

	<div class="prayerTime">
		Time to Pray: {{timeLeftToPray}}<br/>
		<button type="button" class="startTimer">Start</button>&nbsp;
		<button type="button" class="restartTimer">Restart</button>&nbsp;
		<button type="button" class="stopTimer">Stop</button><br/>
	</div> 

	{{> todaysPsalm}}

</template>