.todaysDate {
	font-size: 1.5em;
}

.todaysVerse{
	background-color:#e1e1e1;
}

tr:nth-child(odd){
	background-color: LightGray;
}

.prayerTimer {
		font-size: 16px;
}

#time {
		 display: none;
}

/*Link Styling*/
a:link{
	color:black;
	text-decoration: none;
}

a:hover{
	color:black;
	text-decoration: underline;
}

a:visited{
	color:black;
	text-decoration: none;
}

a:active{
	color:black;
	text-decoration: none;
}

a:hover.headerTitle{
	color:black;
	text-decoration: none;
}